@model IEnumerable<FICCE.Models.Estantes>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#IngresoEstante">Ingreso Estantes</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Ancho
                </th>
                <th>
                    Largo
                </th>
            <th>
                Evento
            </th>
            <th>
                Planta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ListaEstante">

    </tbody>
</table>
<div class="modal fade" id="IngresoInmueble" tabindex="-1"
     role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" cl@{
                            ass="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Inmuebles
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Ancho</label>
                        <input id="Ancho" name="Ancho" class="form-control" placeholder="ingrese el ancho" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Largo</label>
                        <input id="Largo" name="Largo" class="form-control" placeholder="ingrese el largo" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Evento</label>
                        <input id="Evento" name="Evento" class="form-control" placeholder="el evento es en" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Planta</label>
                        <input id="Planta" name="Planta" class="form-control" placeholder="ingrese en la planta" />
                    </div>
                    
                    <input id="id" name="id" hidden />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-toggle="tooltip"
                        title="con este boton usted guradara un nuevo cliente" onclick="Guardaestante()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
