

<h2>Tipo empresas</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#IngresoTipoempresa">Nuevo tipo empresa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Detalle
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="listatipoempresa">

        

    </tbody>
</table>

<div class="modal fade" id="IngresoTipoempresa" tabindex="-1"
     role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Tipo empresa
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">
                            Ingrese un nuevo tipo empresa
                        </label>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input id="Nombre" name="Nombre" class="form-control" placeholder="ingrese el nombre " />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Detalle</label>
                            <input id="Detalle" name="Detalle" class="form-control" placeholder="ingrese algun detalle" />
                        </div>
                        <input id="TipoempresaId" name="TipoempresaId" hidden />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="button" class="btn btn-primary" onclick="grabaTipoempresa()">
                            Guardar</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
